html,body {
	height: 100%;
}


#home {
	background-image: url("img/massage-2.jpg");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: 100%;
	color: white;
	margin-top: 50px;
}

#mapa {
	height: 50%;
	width: 100%;
	background-size: 100%;
	color: white;
	}



h1 {
	font-family: 'Open Sans Condensed', sans-serif;

	
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;	
	text-align: center;
	padding-top: 50px;
}

p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 22px;
text-align: justify;
}

.btn {
	margin-top: 50px;
	width: 150px;
	background-color: yellow;
	 color: black;
	 font-weight: bold;
}

.btn-primary:hover {
  background-color: #ebebeb;
  color: black;
}

.navbar {
	font-size: 18px;
}
.masaz {
	color: red;
}

.dropdown-menu{
	font-size: 18px;
}

.klawisz > .btn {
		width: 93%;
	}
.thumbnail {
	text-align: center;
}

h4 {
	font-size: 24px;
	text-align: center;
}

.table {
	width: 60%;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;


}
h6	{
	text-align: center;
}

.form-control {
margin-bottom: 30px;
}

#wyslij {
	margin-bottom: 30px;
	width: 150px;
	background-color: yellow;
	color: black;
	font-weight: bold;
	text-align: center;
	position: relative;
	left: 63%;
}


