html,body {
	height: 100%;
}


#home {
	background-image: url("img/massage-2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: 100%;
	color: white;
	margin-top: 50px;
}

#mapa {
	height: 50%;
	width: 100%;
	background-size: 100%;
	color: white;
	}



h1 {
	font-size: 900%!important;
	font-family: 'Syncopate', sans-serif;
		
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;	
	text-align: center;
	padding-top: 50px;
}
h3 {
	padding: 0px;
	margin: 10px;
}

p {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 20px;
text-align: justify;
}

.btn {
	margin-top: 50px;
	width: 150px;
	background-color: yellow;
	 color: black;
	 font-weight: bold;
}

.btn-primary:hover {
  background-color: #ebebeb;
  color: black;
}

.navbar {
	font-size: 18px;
}
.masaz {
	color: red;
}


.klawisz > .btn {
		width: 100%;
	}
.thumbnail {
	text-align: center;
}

h4 {
	font-size: 24px;
	text-align: center;
}

.table {
	width: 60%;
	table-layout: auto;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 18px;



}
h5	{
	text-align: center;
	color: white;
}

.form-control {
margin-bottom: 30px;
}

#wyslij {

	height: 35px;
	width: 150px;
	background-color: white;
	color: black;
	font-weight: bold;
	text-align: center;
	border-color: white;
	

}
#stopka {
	background-color: black;
	margin-bottom: 0px;

}
.jumbotron {
	margin-bottom: 0px;
}

#cena {
	background: url("img/b1.jpg");
	background-attachment: fixed;
	color: white;


}